/*--------------------------------------------------------------
4. Spacing
----------------------------------------------------------------*/
@for $i from 1 through 60 {
  .td_mb_#{$i} {
    margin-bottom: $i + px;
  }
}

@media screen and (min-width: 992px) {
  @for $i from 1 through 150 {
    .td_height_#{$i} {
      height: $i + px;
    }
  }
}

@media screen and (max-width: 991px) {
  @for $i from 1 through 60 {
    .td_mb_lg_#{$i} {
      margin-bottom: $i + px;
    }
  }

  @for $i from 1 through 150 {
    .td_height_lg_#{$i} {
      height: $i + px;
    }
  }
}