/*--------------------------------------------------------------
18. Team
----------------------------------------------------------------*/
.td_team.td_style_1 {
  padding-bottom: 20px;

  .td_team_info {
    border-radius: 50px;
    padding: 11px 15px;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 27, 0.6);
    position: absolute;
    bottom: 0;
    left: 40px;
    right: 40px;
    z-index: 1;

    @media (max-width: 1199px) {
      left: 15px;
      right: 15px;
    }
  }

  &:hover {
    .td_team_info {
      animation: bounce 2s;
    }
  }

  &.td_type_1 {
    .td_team_info {
      border-radius: 10px;
    }
  }
}

.td_team.td_style_2 {
  border: 4px solid var(--heading-color);
  border-top: 0;
  border-bottom: 0;
  padding: 20px;

  .td_team_shape_1,
  .td_team_shape_2 {
    height: 1px;
    width: calc(100% - 40px);
    position: absolute;
    left: 20px;
    background-color: var(--heading-color);

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 7px;
      width: 7px;
      border-radius: 50%;
      background-color: var(--heading-color);
      top: -3px;
    }

    &::before {
      right: -3px;
    }

    &::after {
      left: -3px;
    }
  }

  .td_team_shape_1 {
    top: 0;
  }

  .td_team_shape_2 {
    bottom: 0;
  }

  .td_team_in {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
  }

  .td_team_info_in {
    position: relative;
    z-index: 2;
    padding-top: 20px;
  }

  .td_team_info {
    position: absolute;
    bottom: -32px;
    left: 0;
    width: 100%;
    transition: all 0.3s ease;

    >svg {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -1px;
      color: var(--accent-color);
      fill-opacity: 0.4;
      width: 100%;

      path {
        stroke: #fff;
        transition: all 0.3s ease;
      }
    }
  }

  .td_team_member_meta_list {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;

    li {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &:hover {
    .td_team_info {
      bottom: 0;

      >svg {
        path {
          fill-opacity: 1;
          stroke: var(--accent-color);
        }
      }
    }
  }
}

.td_team.td_style_3 {
  .td_team_thumb {
    width: 286px;
    height: 266px;
    position: relative;
    z-index: -1;

  }

  .td_team_thumb_wrap {
    position: relative;
    display: inline-block;
    padding: 8px;

    @media (max-width: 1400px) {
      transform: scale(0.8);
      margin: -20px;
      margin-bottom: -10px;
    }

    @media (max-width: 1199px) {
      transform: scale(0.7);
      margin: -42px;
      margin-bottom: -30px;
    }

    @media (max-width: 575px) {
      transform: scale(1);
      margin: 0px;
      margin-bottom: 10px;
    }
  }

  .td_team_thumb_shape {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.td_team_3_footer {
  display: flex;
  align-items: center;
  gap: 10px 20px;
  flex-wrap: wrap;
  justify-content: center;

  b {
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg, currentColor 0, currentColor 100%);
    background-size: 100% 1px;
    background-position: 0 90%;
  }
}

.td_team.td_style_4 {
  .td_team_info {
    display: flex;
    align-items: center;
    gap: 0px 15px;
    justify-content: space-between;
  }

  .td_team_social_list {
    min-height: 32px;
    border-left: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    gap: 4px;
    padding-left: 20px;

    a {
      display: flex;
      padding: 4px;

      &:hover {
        color: var(--heading-color);
        transform: scale(1.2);
      }
    }
  }

  .td_team_thumb {
    img {
      transition: all 0.5s ease;
    }

    &:hover {
      img {
        transform: scale(1.04);
      }
    }
  }
}

.td_team.td_style_5 {
  .td_team_thumb {
    position: relative;
  }

  .td_team_social_list {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    a {
      display: flex;
    }
  }

  &.td_type_1 {
    .td_team_social_list {
      background-color: var(--accent-color);
      color: #fff;
      flex-direction: row;
      padding: 13px 14px;

      a {
        &:hover {
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }
}