.td_section_head_2_right {
    display: flex;
    align-items: center;
    gap: 14px;
}

.td_modal_btn {
    border: 0;
    height: 50px;
    width: 50px;
    background-color: rgba(100, 64, 251, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent-color);
    transition: all linear 0.5s;

    &:hover {
        background-color: var(--accent-color);
        color: var(--white-color);
    }
}




// filter modal 
.filter_modal {

    .td_mt_40px {
        margin-top: 40px;
    }

    .filter_modal_btn {
        margin-top: 30px;
    }

    .modal-dialog {
        max-width: 716px;
    }

    .modal-content {
        padding: 30px 40px;
        border: 0;
        border-radius: 10px;
    }

    .modal-header {
        padding: 0;
        border-bottom: 1px solid #F0F0F5;
        padding-bottom: 22px;
        margin-bottom: 20px;
    }

    .modal-title {
        color: var(--heading-color);
        font-size: 24px;
        line-height: 34px;
    }

    .btn-close {
        padding: 0;
        margin: 0;
        opacity: 1;
        color: var(--white-color);
        background: inherit;
        position: absolute;
        top: 30px;
        right: 40px;

        &:focus {
            box-shadow: inherit;
        }
    }

    .modal-body {
        padding: 0;
    }

    .td_modal_item_head {
        h4 {
            color: var(--heading-color);
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 10px;
        }
    }

    .td_modal_item {
        &.three {
            margin-top: 30px;
        }

        .form-select {
            border-radius: 10px;
            box-shadow: 2px 2px 20px 0px rgba(0, 0, 27, 0.05);
            color: var(--heading-color);
            font-size: 16px;
            font-weight: 500;
            border: 0;
            padding: 20px 30px 20px 20px;
            background-position: right 30px center;
        }

        &.two {
            padding: 20px 20px;
            border-radius: 10px;
            background: var(--white-color);
            box-shadow: 2px 2px 20px 0px rgba(0, 0, 27, 0.05);
            margin-top: 30px;

            .ui-slider-horizontal {
                height: 4px;
                border-radius: 3px;
                border-radius: 10px;
                background: #F0ECFF;
            }

            .ui-slider .ui-slider-handle {
                top: -3px;
            }

            .td_amount_wrap #amount {
                color: var(--heading-color);
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
            }
        }

        .td_sidebar_search_input {
            background: var(--white-color);
            box-shadow: 2px 2px 20px 0px rgba(0, 0, 27, 0.05);
            color: var(--heading-color);
            font-size: 16px;
            font-weight: 500;

            &::placeholder {
                font-weight: 500 !important;
                color: rgba(0, 0, 27, 0.6);
            }
        }
    }


}




// contact_modal 
.contact_modal {
    .modal-dialog {
        max-width: 740px;
    }

    .modal-content {
        padding: 0;
        border: 0;
        border-radius: 10px;
        background: #EBECED;
        padding: 36px 40px 40px 40px;
    }

    .modal-title {
        color: var(--heading-color);
        font-size: 24px;
        line-height: 34px;
    }

    .btn-close {
        padding: 0;
        margin: 0;
        opacity: 1;
        color: var(--white-color);
        background: inherit;
        position: absolute;
        top: 30px;
        right: 40px;

        &:focus {
            box-shadow: inherit;
        }
    }

    .modal-header {
        padding-bottom: 30px;
        border-bottom: 1px solid #E6E0FF;
    }

    .modal-body {
        padding: 0;
        border: 0;



        .contact_modal_form_item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            margin-top: 30px;
        }

        .contact_modal_form_inner {
            width: 100%;
        }

        .form-control {
            border-radius: 10px;
            background: var(--white-color);
            box-shadow: 2px 2px 20px 0px rgba(0, 0, 27, 0.05);
            border: 1px solid var(--white-color);
            color: var(--heading-color);
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            padding: 18px 30px;

            &:focus {
                border-color: var(--white-color);
            }
        }



    }
}











// .fade:not(.show) {
//     opacity: 1;
// }








@media (max-width: 991px) {
    .filter_modal .modal-content {
        padding: 20px 15px;
        border: 0;
        border-radius: 10px;
    }

    .filter_modal .btn-close {
        top: 20px;
        right: 30px;
    }
}